    @{
    ViewData["Title"] = "Error";
    string error = ViewBag.error;
}
<div id="seccionlogin">
    <section class="error-container">
        <h1 id="h1error" align="center">ERROR</h1>
        <span class="four"><span class="screen-reader-text">4</span></span>
        <span class="zero"><span class="screen-reader-text">0</span></span>
        <span class="four"><span class="screen-reader-text">4</span></span>
    </section>
    <h2 id="h2error">Tu petición no se puede procesar</h2>
    <div class="link-container">
        <a href="https://localhost:44381/" class="more-link">Volver al Inicio</a>
    </div>
</div>
