@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<section class="container jumbotron">
    <div class="row">
        <div class="col d-flex">
            <a asp-controller="QuejaSugerencia" asp-action="Queja" class="btn alert-dark btn-lg btn-block">Queja</a>
        </div>
        <div class="col d-flex">
            <a asp-controller="Home" asp-action="Index" class="btn alert-primary btn-lg btn-block">Sugerencia</a>
        </div>
    </div>
</section>