<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="description" content="Modulo de quejas y urgencias." />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] Urgencias y Quejas</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <script src="https://kit.fontawesome.com/2a7e8c7373.js" crossorigin="anonymous"></script>
    <meta name="Description" content="Sitio web hecho, como modulo de quejas y urgencias para funcionar en conjunto junto a otros modulos de un hospital.">
</head>
<body style="margin-bottom: 0px;">
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index" style="color:black"><img width="95px" alt="logo" src="~/images/logo.jpeg" /></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
            </div>

        </nav>
    </header>
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
 
    <footer class="page-footer font-small mdb-color pt-4">
        <div class="container text-center text-md-left">

            <!-- Social buttons -->
            <ul class="list-unstyled list-inline text-center">
                <li class="list-inline-item">
                    <a class="btn-floating btn-fb fa-3x text-white" target="_blank" href="https://www.Facebook.com" rel="noreferrer">
                        <i class="fab fa-facebook-square"> </i>
                    </a>
                </li>

                <li class="list-inline-item">
                    <a class="btn-floating btn-ig fa-3x text-white" target="_blank" href="https://www.Instagram.com" rel="noreferrer">
                        <i class="fab fa-instagram-square"> </i>
                    </a>
                </li>
            </ul>

            <!-- Social buttons -->
            <!-- Copyright -->
            <div class="footer-copyright text-center text-white py-3">
                © 2020 Copyright:
                <a class="text-white" target="_blank" rel="noreferrer" href="https://FrobackSolutions.com/"> Frobacksolutions.com</a>
            </div>
            <!-- Copyright -->
        </div>
        </footer>
        <script src="~/lib/jquery/dist/jquery.min.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
        @RenderSection("Scripts", required: false)

</body>
</html>