@*

*@
@{
}
<header class="headnosotros">
    <div class="row">
        <div class="col-md-10 col-lg-8 mx-auto">
            <div class="textositio">
                <h1>Bienvenido a nuestro modulo de Quejas y Urgencias</h1>
                <div>
                    <a type="button" class="btn btn-outline-success">Quejas</a><a type="button" class="btn btn-outline-success">Urgencias</a>
                </div>
            </div>

        </div>
    </div>
</header>
<div>
    <h1>Hola </h1>
</div>



