<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="description" content="Modulo de quejas y urgencias." />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] Urgencias y Quejas</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <script src="https://kit.fontawesome.com/2a7e8c7373.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="~/css/site.css" />
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <meta name="Description" content="Sitio web hecho, como modulo de quejas y urgencias para funcionar en conjunto junto a otros modulos de un hospital.">
</head>
<body style="margin-bottom: 0px;">
    <header>
        <nav id="navsec" class="navbar navbar-light navbar-expand-lg fixed-top">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index" style="color:black"><img width="95px" alt="logo" src="~/images/logo.jpeg" /></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav ml-auto">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="QuejaSugerencia" asp-action="Menu" style="color:black">Quejas y sugerencias</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Urgencias" asp-action="Index" style="color:black">Urgencias</a>
                        </li>
                    </ul>
                </div>
                <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav ml-auto">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="About">Nosotros</a>
                        </li>
                    </ul>

                </div>
            </div>
        </nav>
    </header>
    <main role="main" class="pb-3">
        @RenderBody()
    </main>
    <!-- Footer -->
    <!-- Footer -->
    <footer class="page-footer font-small bg-secondary pt-4">

        <!-- Footer Links -->
        <div class="container text-center text-md-left">
 
        <!-- Social buttons -->
        <ul class="list-unstyled list-inline text-center">
            <li class="list-inline-item">
                <a class="btn-floating btn-fb fa-3x text-white" target="_blank" href="https://www.Facebook.com" aria-label="Facebook" rel="noreferrer" >
                    <i class="fab fa-facebook-square"> </i>
                </a>
            </li>
           
            <li class="list-inline-item">
                <a class="btn-floating btn-ig fa-3x text-white" target="_blank" href="https://www.Instagram.com" aria-label="Instagram" rel="noreferrer">
                    <i class="fab fa-instagram-square"> </i>
                </a>
            </li>
        </ul>
        <!-- Social buttons -->
        <!-- Copyright -->

        <div class="footer-copyright text-center text-white py-3">
            © 2020 Copyright:
            <a class="text-white" target="_blank" href="https://FrobackSolutions.com/" rel="noreferrer"> Frobacksolutions.com</a>
        </div>
        <!-- Copyright -->
            </div>
    </footer>
    <!-- Footer -->
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
