@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="container">
    <h1>Registrar urgencia</h1>
    <form>
        <div class="row">
            <div class="col-lg-5">
                <label for="nombre">Nombre del pacinete:*</label>
            </div>
            <div class="col">
                <input id="nombre" name="nombre" type="text" alt="Nombre" placeholder="Pepe Problemas">
            </div>
        </div>
        <div class="row">
            <div class="col-lg-5">
                <label for="fechNac">Fecha de nacimiento:*</label>
            </div>
            <div class="col">
                <input id="fechNac" name="fechNac" type="date" alt="Fecha de nacimiento">
            </div>
        </div>
        <div class="row">
            <div class="col-lg-5">
                <label for="email">Correo electronico:*</label>
            </div>
            <div class="col">
                <input id="email" name="email" type="email" alt="name@example.com">
            </div>
        </div>
        <div class="row">
            <div class="col-lg-5">
                <label for="area">Area de urgencia:*</label>
            </div>
            <div class="col">
                <select id="area" name="area"></select>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-5">
                <label for="tel">Telefono de contacto:*</label>
            </div>
            <div class="col">
                <input id="tel" name="tel" type="tel" alt="123456789">
            </div>
        </div>
        <div class="row">
            <div class="col-lg-5">
                <label for="telF">Telefono familiar (opcional):</label>
            </div>
            <div class="col">
                <input id="telF" name="telF" type="tel" alt="123456789">
            </div>
        </div>
        <div class="row">
            <div class="col-lg-5">
                <label for="nss">Numero de seguridad social:*</label>
            </div>
            <div class="col">
                <input id="nss" name="nss" type="number" alt="123456789">
            </div>
        </div>
        <div class="row">
            <div class="col-lg-5">
                <label for="malestares">Descripcion de los malestares:*</label>
            </div>
            <div class="col-lg-7">
                <textarea id="malestares" name="malestares" type="text"></textarea>
            </div>
        </div>
        <div class="row justify-content-md-center">
            <div class="col col-2">
                <button class="btn btn-primary btn-lg" type="button">Enviar.</button>
            </div>
            <div class="col col-2">
                <button class="btn btn-danger btn-lg" type="reset">Cancelar.</button>
            </div>
        </div>
    </form>
</div>
