@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    UrgenciaModel urgencia = ViewBag.urgencia;
}
    <form>
        <div class="row">
            <div class="col-lg-6">
                <label for="Id">Id</label>
            </div>
            <div class="col-lg-6">
                <input id="Id" name="Id" type="text" disabled value="@urgencia.Id" />
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <label for="Nombre">Nombre</label>
            </div>
            <div class="col-lg-6">
                <input id="Nombre" name="Nombre" type="text" value="@urgencia.Telefono" />
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <label for="Tipo">Tipo</label>
            </div>
            <div class="col-lg-6">
                <input id="Tipo" name="Tipo" type="text" value="@urgencia.Fecha_nac" />
            </div>
        </div>
       
    </form>
